body {
  font-family: "Poppins", sans-serif;
  color: #22293d;
  background-color: #fffffa;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p {
  color: #6a7b76;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}



